
<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <div class="form-body p-3">
         <p class="text-center"><strong>マイページ</strong></p>
         <div class="text-center">
          <%= image_tag @user.get_profile_image %>
            </div>
            <p class="text-center"><%= @user.name %></p>
              <p class="text-center"><%= link_to "プロフィール編集", edit_user_path(current_user) %></p>
              <p class="text-center">メールアドレス</p>
              <p class="text-center"><%= @user.email %></p>
             <div class="d-grid gap-2 col-6 mt-2 mx-auto">
             <%= link_to "投稿一覧",posts_path(user_id: @user.id),class: "btn btn-primary" %>
             </div>
             <div class="d-grid gap-2 col-6 mt-2 mx-auto">
             <%= link_to "#{@user.name}のブックマーク", bookmarks_index_bookmarks_path(id: @user.id),class: "btn btn-primary" %>
             </div>
             <div class="d-grid gap-2 col-6 mt-2 mx-auto">
             <%= link_to "編集する" ,edit_user_path(current_user) , class: "btn btn-primary"%>
             </div>
             <div class="d-grid gap-2 col-6 mt-2 mx-auto">
             <%= link_to  "下書き一覧" ,draft_posts_path , class: "btn btn-primary"%>
             </div>
             <div class="d-grid gap-2 col-6 mt-2 mx-auto">
             <%= link_to "退会する" ,withdraw_path(current_user) , class: "btn btn-danger"%>
             </div>
        </div>
      </div>
    </div>
  </div>